.line-crema--c
	border-bottom: 7px solid $crema
	width: 84px
	display: inline-block
	padding-bottom 0em
	font-size: 1em
	span
		margin 0
		padding .4em 0 .2em .5em
	
	
	
	
.line-secundario--c
	border-bottom: 7px solid $secundario
	width: 100%
	display: block
	padding-bottom 0em
	font-size: 1.6em
	color rgba(83, 119, 128, 0.32)
	span
		font-weight 700
		display inline-block
		margin 0
		padding .4em 0 .2em .8em
	
	
	

.line-complementario2--c
	border-bottom: 7px solid rgba(83, 119, 128, 0.38)
	width: 66.66%
	display: block
	font-weight: 700
	color rgba(83, 119, 128, 0.32)
	padding-bottom 0em
	font-size: 1.6em
	span
		display inline-block
		margin 0
		padding .4em 0 .2em .8em
	
	
	
.line-complementario--c
	border-bottom: 7px solid $complementario
	width: 33.33%
	display: block
	font-weight: 700
	color rgba(83, 119, 128, 0.32)
	padding-bottom 0em
	font-size: 1.6em
	span
		margin 0
		padding 0em 0 .2em .8em
	
	
.name-complet
	padding-top 4em
	&--part
		display inline-block
		margin-right .3em

.box-social
	width: 100%
	color red
	display flex
	font-size: 2em
	padding .5em 0
	&--left
		width 40%
		max-width 320px
		background-color: white
		border-radius 0 8px 8px 0
		display flex
		justify-content space-around
		padding .2em 0
		.icon-facebook
			color $facebook
		.icon-google-plus
			color $google-plus
		.icon-twitter
			color $twitter
	&--right
		width: 40%
		max-width 320px
		background-color: white
		border-radius 8px 0 0 8px
		display flex
		justify-content space-around
		padding .2em 0
		.icon-instagram
			color $instagram
		.icon-linkedin
			color $linkedin
		.icon-github
			color black
.contact-form
	background-color: $complementario