.name-complet
	padding-top 4em
	&--part
		display inline-block
		margin-right .3em

.box-phonenumber
	background-color $rosa-claro
	display flex
	align-items center
	padding .5em 1.5em
	color white
	border-radius 0
	margin .5em auto
	max-width 206px
	a
		color white
	span
		font-size: 2em
	

.icon-facebook
	padding .5em 0 1em 0
	font-size: 24px
	color $facebook
.icon-google-plus
	color $google-plus
	padding .5em 0 1em 0
	font-size: 24px
.icon-twitter
	color $twitter
	padding .5em 0 1em 0
	font-size: 24px
.icon-instagram
	color $instagram
	padding .5em 0 1em 0
	font-size: 24px
.icon-linkedin
	color $linkedin
	padding .5em 0 1em 0
	font-size: 24px
.icon-github
	color black
	padding .5em 0 1em 0
	font-size: 24px

.block
	display block
	
