

section(class="header-profile-bottom")
	figure(class="circle--medium bottom-absolute z-index--1")
		img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
	div(class="back-img--contact")
		div(class="back-img--contact--t")

		article(class='container')
			div(class="row")
				div(class="col-12 start z-index")
					div(class="row center")
						div(class="col-10 center")
							h1(class="title-main--contact box-padding--x2") Contacto
								span(class="line-p")
section(class="bgc-principal shadow-card")

	article(class="container")
		div(class="row")
			div(class="small")
				p(class="col-offset-5") ¡Hola!, si quieres ponerte en contacto conmigo, puedes escribirme en cualquiera de estas redes sociales


	article(class="")
		div(class="line-complementario--c")
			span(class="icon-html5")
		div(class="line-complementario2--c")
			span(class="icon-css3")
		div(class="line-secundario--c")
			span(class="") JS

	article(class="box-social start")
		div(class="box-social--left")
			a(href="https://www.facebook.com/Jahaziel.Ortiz.Barrios" target="_blank" class="icon-facebook")
			a(href="https://plus.google.com/u/0/104019931078090167469" target="_blank" class="icon-google-plus")
			a(href="https://twitter.com/Jahaziel004" target="_blank" class="icon-twitter")

	article(class="container")
		div(class="row")
			div(class="small")
				p(class="text-normal") En instagram ocacionalmente subo paqueños patrones de diseño propios y puedes tambien ver mi perfil profesional en Linkedin y en Github estan mis repositorios de codigo de los proyecto en lo que me desempeño.

	article(class="box-social end")
		div(class="box-social--right")
			a(href="https://www.instagram.com/jahaziel04/" target="_blank" class="icon-instagram")
			a(href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button" target="_blank" class="icon-linkedin")
			a(href="https://github.com/Jahaziel04" target="_blank" class="icon-github")

section(class="contact-form shadow-card box-margin-t")
	article(class="container")
		div(class="row middle")
			div(class="col-12 center")
				div(class="row center")
					div(class="col-12")
						P(class="text-normal white") Tambien puedes escribirme a mi correo electronico jahaziel041090@hotmail.com en el siguiente formulario.
				script(type="text/javascript").
					var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1906279.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));