article(class="header-card")
	section(class="header-card-top")

	section(class="header-card-bottom back-img--header")
		figure(class="circle--medium center-absolute z-index--1")
					img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		div(class="container")
			div(class="row end middle")
				div(class="col-4 center small")
					h1(class="title-main") Contacto
						span(class="line-index")
				div(class="col-7 small")
					img(class="imgfull" src="img/img-contact.png")

section(class="bgc-principal shadow-card")

	article(class="container")
		div(class="row middle center")
			div(class="small col-3 start")
				p(class="") Puedes ponerte en contacto conmigo a través de mi numero de telefono:
			div(class="small col-3 center")
				a(class="box-phonenumber" href="tel:+9222561684") 922 256 16 84




	<!--article(class="box-padding-t")-->
	<!--article	div(class="line-complementario--c")-->
	<!--article		span(class="icon-html5")-->
	<!--article	div(class="line-complementario2--c")-->
	<!--article		span(class="icon-css3")-->
	<!--article	div(class="line-secundario--c")-->
	<!--article		span(class="") JS -->
section(class="box-margin-t bgc-principal shadow-card")

	article(class="container")
		div(class="row center relative")
			div(class="col-6 start small")
				p(class="") Me encuentras en estas redes sociales, en donde suelo compartir cosas relacionadas con el mundo del diseño y desarrollo web.
			span(class="triangulo-equilatero")
	section(class="bgc-fondo")
		article(class="container")

			div(class="row center")
				div(class="col-3 small start")
					a(href="https://www.facebook.com/Jahaziel.Ortiz.Barrios" target="_blank" class="block icon-facebook") Jahaziel Ortiz Barrios
					a(href="https://plus.google.com/u/0/104019931078090167469" target="_blank" class="block icon-google-plus") Jahaziel Ortiz
					a(href="https://twitter.com/Jahaziel004" target="_blank" class="block icon-twitter") Jahaziel004
				div(class="col-3 small start")
					a(href="https://www.instagram.com/jahaziel04/" target="_blank" class="block icon-instagram") jahaziel04
					a(href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button" target="_blank" class="block icon-linkedin") Jahaziel Ortiz Barrios
					a(href="https://github.com/Jahaziel04" target="_blank" class="block icon-github") Jahaziel04


section(class="bgc-principal shadow-card box-margin-t")
	article(class="container")
		div(class="row center middle")
			div(class="col-6 start")
				P(class="text-normal") También puedes escribirme a mi correo electronico jahaziel041090@hotmail.com en el siguiente formulario.
	section(class="bgc-fondo")
		article(class="container")
			div(class="row middle")

				div(class="col-12 center")
							
					script(type="text/javascript").
						var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1906279.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));