<!--Solo estudios-->
section(class="bgc-principal box-margin-b shadow-card")
	div(class="container")
		div(class="row center")
			div(class="col-10 start")
				h2(class="title-profile") Estudios

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Instituto Tecnologico de Minatitlan
					p(class="sub-profile") Ingenieria en Sistemas Computacionales
					p 2010 - 1015

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Platzi, Inc
					p(class="sub-profile") Educación online en:  Diseño, Desarrollo, Marketing
					p Febrero 2015 - Febrero 2016

					a(href="https://platzi.com/@Jahaziel04/" class="link") https://platzi.com/@Jahaziel04/
					p Diseño de interfaces móviles, web, desarrollo UX(experiencia de usuario), estrategia digital, Git, Github, Responsive design, SEO etc...

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Sololearn
					p(class="sub-profile") Educación online en: lenguajes de programación
					p Febrero 2016 - Actualidad

					a(href="http://www.sololearn.com/Profile/673712#" class="link") http://www.sololearn.com/Profile/673712#
					p Html5, Javascript

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Instituto Anglo Frances de coatzacoalcos
					p(class="sub-profile") Diplomado de ingles
					p Septiembre 2010 - Semptiembre 2013


<!--Certificaciones-->

section(class="bgc-principal shadow-card")
	div(class="container")
		div(class="row center")
			div(class="col-10 start")
				h2(class="title-profile") Certificaciones

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Javascript Basic course
					p(class="sub-profile") Sololearn
					p Certificado #1024-673712

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso Diseño de interfaces Móviles
					p(class="sub-profile") Platzi INC
					p Licencia ea655a51-7ceO-4ab9-838a-148466310cce

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Diplomado de ingles
					p(class="sub-profile") iaf
					p Certificado #955870

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso de html y CSS3
					p(class="sub-profile") Platzi INC
					p Licencia ea871433-e7e8-484f-9453-3ec753c63da3

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso SEO Posicionamiento en buscadores
					p(class="sub-profile") Platzi INC
					p Licencia 8e4cc9df-c1ff-4dd3-b3c9-c6b7b8851cc0

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso de UX: Diseño de experiencia de Usuario
					p(class="sub-profile") Platzi INC
					p Licencia 48930635-1c68-410c-a193-b910422f275c

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso profecional de Git y Github
					p(class="sub-profile") Platzi INC
					p Licencia 60b0ead3-951b-4122-9642-140579aa3aae

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso de marketing y estrategias digitales
					p(class="sub-profile") Platzi INC
					p Licencia 2ef5dcff-f38a-4368-9b8c-b3207cff63aa

	section(class="bgc-complementario line-bottom")
		div(class="container")
			div(class="row center")
				div(class="col-10 start")
					h3(class="title-profile--crema") Curso de Programación basica
					p(class="sub-profile") Platzi INC
					p Licencia 9c5017b3-4d7t-4d7t-9961-e4011f1c8602