.header-card
	display block
	color $principal
	&-top
		width: 100%
		height: 150px
		background-color: $principal
		position: relative
	&-bottom
		padding 3.5em 0 1.5em
		position: relative


.col-12:hover .title-main .line-p
	background-color: #55e9bc
	width: 100%