.header-card
	display block
	color $principal
	background-color: white
	&-top
		width: 100%
		height: 150px
		background-color: $principal
		position: relative
		transition: all .3s ease-out;
		@media screen and (min-width: 1025px)
			height: 57px
	&-bottom
		padding 0
		position: relative
		color $principal
		background-color white
		@media screen and (max-width: 1024px)
			//background-color white
			//color $principal
			padding 3.5em 0 1.5em


//.row:hover .title-main .line-index
//	background-color: $secundario
//	width: 100%
//	@media screen and (max-width: 1025px)
//		background-color $secundario
	