article(class="header-card")
	section(class="header-card-top")


	section(class="header-card-bottom back-img--header")
		figure(class="circle--medium center-absolute")
			img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		div(class="container")
			div(class="row start middle")
				div(class="col-6 center small")
					h1(class="title-main") Diseño y desarrollo web
						span(class="line-index")
				div(class="col-6 small")
					img(class="imgfull" src="img/img-landing.png")
				
	article(class='container')
		div(class="row center middle stop-grow--sinTop")
			figure(class="col-6 small box-padding-t")
			div(class="col-6 small center")
				h2(class="title-big start") Seguro alguien te está buscando en la web
	section(class="bgc-white")
		div(class="container")
			div(class="row center")
				div(class="tablets small")
					span(class="subtitle-big") Pero, aún te preguntas:
