article(class="header-card")
	section(class="header-card-top")


	section(class="header-card-bottom")
		figure(class="circle--medium center-absolute")
			img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		article(class='container')
			div(class="col-12 center")
				h1(class="title-main line") Diseño y desarrollo web
				span J04