article(class="header-card")
	section(class="header-card-top")


	section(class="header-card-bottom back-img--header")
		figure(class="circle--medium center-absolute")
			img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		div(class="container")
			div(class="row center middle")
				div(class="col-5 center small")
					h1(class="title-main") Diseño y desarrollo web
						span(class="line-index")
				div(class="col-5 small")
					img(class="imgfull" src="img/img-landing.png")
				
	article(class='container')
		div(class="row middle stop-grow--sinTop")
			div(class="col-6 small")
				h2(class="title-big start") Seguro alguien te está buscando
		div(class="row middle stop-grow--sinTop")
			div(class="col-6 small")
				p(class="text-browser negro-claro relative")
					span(class="typewrite" data-period="2000" data-type='["Fotógrafo en . . .","Diseñador de . . .","Dentista . . .","Pizza a la leña", "Decoración de eventos en . . ." ]')
						span(class="wrap")
					span(class="icon-search absolute-right")
			div(class="col-6 small center")
				p(class="title-question relative") Pero ... ¿Por qué tener un sitio web?
					span(class="triangulo-equilatero")

	figure(class="bgc-white")
		img(class="imgfull" src="img/banner.png")