
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que literal alguiente te est치 buscando
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que literal alguiente te est치 buscando
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que literal alguiente te est치 buscando
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que literal alguiente te est치 buscando
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod