
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que literal alguiente te está buscando
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal line-top") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que quieres tener nuevos clientes
		input(type="checkbox" class="checkbox" id="check2" name="checks")
		label(for="check2" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check2" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Para tener publicidad efectiva
		input(type="checkbox" class="checkbox" id="check3" name="checks")
		label(for="check3" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check3" class="tab-content")
			p(class="start text-normal") Para comunicarte eficazmente con tus clientes
						
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Para comunicarte eficazmente con tus clientes
		input(type="checkbox" class="checkbox" id="check4" name="checks")
		label(for="check4" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check4" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Y por que tambien quieres hacer crecer tu marca para que sea mas reconocida
		input(type="checkbox" class="checkbox" id="check5" name="checks")
		label(for="check5" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check5" class="tab-content")
			p(class="start text-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod