
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Es verdad, alguien te está buscando en la web
		input(type="checkbox" class="checkbox" id="check1" name="checks")
		label(for="check1" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check1" class="tab-content")
			p(class="start text-normal line-top") Seguro alguien escribió tu nombre, el nombre de tu marca o compañía buscando mas información sobre ti o tu negocio, para reforzar su decisión de comprar tu producto o servicio, pero en su lugar encontró información de tu competencia y se ha ido con ellos. Y si tu competencia aun no tiene sitio web, mejor aún, tendras una amplia ventaja sobre ellos, ganando credibilidad, prestigio y reconocimiento.

			p(class="start text-normal line-top") Recuerda, en internet no hay limites geograficos, puedes llegar a todo el mundo.

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que quieres tener una mejor comunicación con tus clientes.
		input(type="checkbox" class="checkbox" id="check2" name="checks")
		label(for="check2" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check2" class="tab-content")
			p(class="start text-normal") Tu sitio web se convierte en el mejor lugar para informar sobre tus productos, servicios, promociones, así como tambien tu razones de competencia y valores con los que quieres que tus clientes y empleados se identiquen.
			p(class="start text-normal") Tambien es el medio perfecto para concentrar otras formas de comunicarse contigo, como tus redes sociales, telefonos y correos electronicos.
			p(class="start text-normal") Tus clientes siempre tienen dudas y que mejor que resolverlas brindandoles información relevante sobre ti en todo tu sitio web, seguro tendrás menos llamadas relacionadas a las dudas de siempre.

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Por que quieres publicidad efectiva
		input(type="checkbox" class="checkbox" id="check3" name="checks")
		label(for="check3" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check3" class="tab-content")
			p(class="start text-normal") Publicidad 24/7 los 365 dias del año, comparado con lo costoso que suele ser la publicidad tradicional un sitio web es 100% efectivo, muestra la información que desees, sin restricción de tiempo, limite greografico y demografico.
						
div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Para atraer nuevos clientes
		input(type="checkbox" class="checkbox" id="check4" name="checks")
		label(for="check4" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check4" class="tab-content")
			p(class="start text-normal") Lograrás llegar a mas personas, no solo en tu region, si no a cualquier lugar del planeta donde haya internet. Solo tendrán que buscar algo relacionado con tu negocio en google para poder encontrarte y las personas que te encuentren en redes sociales tendrán un lugar a donde llegar. Y si tus clientes quedan satisfechos con tu servicio o producto seguro te recomendarán.

div(class="col-11 start")
	div(class="question-content-item")
		p(class="start title-deco-show") Y por que quieres ser unico.
		input(type="checkbox" class="checkbox" id="check5" name="checks")
		label(for="check5" class="label-checkbox")
			div(class="label-arrow")
				i(class="icon-angle-down")

		section(id="content-check5" class="tab-content")
			p(class="start text-normal") Crea una marca, se diferente, haz que cada que vez que la gente vea tu logo se les venga a la mente el nombre de tu marca, haz que quieran siempre consumir tus productos o adquirir sus servicios por tu profecionalismo y la pasion con la que haces las cosas.