.header-profile
	display block
	color white
	&-top
		width: 100%
		height: 150px
		background-color: $principal
		position: relative
	&-bottom
		position: relative


.center-absolute
	position absolute
	margin 0 auto
	left 0
	right 0
	top -50px

.container-trio
	height: 60px
	display: flex
	margin: 0 auto
	justify-content: center
	color $complementario

.line-crema
	border-bottom: 12px solid $crema
	width: 84px
	display: inline-block
	padding-bottom 1.5em
	font-size: 2em
	
.line-secundario
	border-bottom: 12px solid $secundario
	width: 84px
	display: inline-block
	padding-bottom 1.5em
	font-size: 2em
	
	
.line-complementario
	border-bottom: 12px solid $complementario
	width: 84px
	display: inline-block
	padding-bottom 1.5em
	font-size: 2em
	font-weight: 700
	color $complementario
	
	