article(class="header-profile")
	section(class="header-profile-top")


	section(class="header-profile-bottom")
		figure(class="circle--medium center-absolute z-index--1")
			img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		div(class="back-img--profile")
			div(class="back-img--profile--t")

			article(class='container')
				div(class="row")
					div(class="col-12 start z-index")
						div(class="row center")
							div(class="col-10 start")
								h1(class="title-main--profile") Perfil
									span(class="line-p")
								p(class="") Diseñador de interfaces web, experincia de usuario y desarrollo con conocimientos de SEO y estrategias digitales
							div(class="col-10 center")
								div(class="container-trio")
									div(class="line-crema")
										span(class="icon-html5")
									div(class="line-secundario")
										span(class="icon-css3")
									div(class="line-complementario") JS
										span(class="")


