article(class="header-card")
	section(class="header-card-top")


	section(class="header-card-bottom back-img--header")
		figure(class="circle--medium center-absolute z-index--1")
			img(class="imgfull" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12688156_959748740729731_5556562599613514198_n.jpg?_nc_eui=ARhYQj7ZBpgGkshE7mGL3LKqt1WCCZKj5ncPIjfwVsN9NVvxZEDAgiCAArKD&oh=0146c62cc2702142f5b499ef95fceb43&oe=574B8534", alt="")
		div(class="container")
			div(class="row end middle")
				div(class="col-4 center small")
					h1(class="title-main") Perfil
						span(class="line-index")
					p(class="title-profile--p start ") Diseñador de interfaces web, experiencia de usuario, desarrollo web, optimización en buscadores (SEO) y estrategias digitales.
				div(class="col-7 small")
					img(class="imgfull" src="img/img-profile.png")
