section(class="question-card")
	article(class="container")
		div(class="row center")
			h2(class="col-10 start title-big") Seguro lguien te está buscando en la web
			span(class="col-10 start subtitle-big") Pero aun te preguntas:


section(class="question-list")
	article(class="back-img")
		div(class="transparent")
			div(class="container")
				div(class="row center")
					p(class="col-10 title-question") ¿Por que tener un sitio web?
				div(class="question-list-content")
					div(class="row center")
						p(class="col-10 start") Porque literal alguien te está buscando
						span(class="") v
					div(class="row center")
						p(class="col-10 start") Porque quieres tener nuevos clientes
						span(class="") v
					div(class="row center")
						p(class="col-10 start") Porque tendrás publicidad efectiva
						span(class="") v
					div(class="row center")
						p(class="col-10 start") Para comunicarte eficazmente con tus clientes
						span(class="") v
					div(class="row center")
						p(class="col-10 start") Y por que quieres que tu marca sea conocida sin limite geografico
						span(class="") v

					div(class="row center") 
						p(class="col-7 start") Conoce mas sobre los beneficios de un sitio web
						div(class="col-3") Ver más

