div(class="bgc-white")
	article(class="container")
		div(class="row center stop-grow--sinTop")
			div(class="col-12 center question-content")
				div(class="row center")
					include ./answer-box/template.jade

				div(class="row center box-padding-b")
					div(class="col-12 end")
						a(href="/blog/generico/razones-para-tener-un-sitio-web/" class="button-principal") Leer mas

						a(href="/contact" class="button-want") Quiero un sitio web