section(class="question-card")
	article(class="container")
		div(class="row center")
			div(class="col-11 start")
				h2(class="title-big") Seguro alguien te está buscando en la web
			div(class="col-11 start")
				span(class="subtitle-big") Pero aun te preguntas:


section(class="question-list")
	article(class="back-img")
		div(class="transparent")
			div(class="container")
				div(class="row center")
					div(class="col-12 centers question-list-content")
						div(class="row center")
							div(class="col-10")
								p(class="start question-list-item title-deco-show") Por que literal alguiente te está buscando lalala lalala lala lorem lorem
							input(type="checkbox" class="checkbox" id="check1" name="checks")
							label(for="check1" class="col-1 label-checkbox")
								div(class="label-background-off")
									i(class="icon-minus milo")
								div(class="label-background-on")
									i(class="icon-plus-mas kilo")
			
							section(id="content-check1" class="tab-content")
								p(class="color-grey start normal") Tendras un hermoso techo como los siguientes:
