div(class="bgc-white")
	article(class="container")
		div(class="row center stop-grow--sinTop")
			div(class="col-12 center question-content")
				div(class="row center")
					include ./answer-box/template.jade

				div(class="row center box-padding-t")
					div(class="col-11 end")
						a(href="/blog/generico/beneficios-de-tener-un-sitio-web/" class="button-principal") Leer mas