article(class="relative")
	article(class="back-img absolute filtro-blur")
		div(class="col-12")

	article(class="container")
		div(class="row center")
			div(class="col-12")
				p(class="title-question") ¿Por qué tener un sitio web?

		div(class="row center")
			div(class="col-12")
				span(class="icon-triangle-down signal-down")
		div(class="row center shadow-card stop-grow")
			div(class="col-12 center question-content")
				div(class="row center")
					include ./answer-box/template.jade

				div(class="row center box-padding-t")
					div(class="col-11 end")
						a(href="/blog/generico/beneficios-de-tener-un-sitio-web/" class="button-principal") Leer mas