section(class="question-card")
	article(class="container")
		div(class="row center")
			div(class="col-11 start")
				h2(class="title-big") Seguro alguien te está buscando en la web
			div(class="col-11 start")
				span(class="subtitle-big") Pero aun te preguntas:

section(class="")
	article(class="back-img")
		div(class="transparent")
			div(class="container")
				div(class="row center")
					div(class="col-12")
						p(class="title-question") ¿Por que tener un sitio web?

				div(class="row center")
					div(class="col-12")
						span(class="icon-triangle-down signal-down")
				div(class="row center")
					div(class="col-12 center question-content")
						div(class="row center")
							include ./answer-box/template.jade

						div(class="row center box-padding-t")
							div(class="col-11 end")
								div(class="button")
									span(class="") Leer mas
