.question
	color $complementario !important
	transition: all .3s ease-out
	font-size: 18px
	display block
	padding 0 1em
	&:hover
		color $principal
		text-decoration underline
	&-target
		padding 0 1em
		color $complementario
		& ~ p
			color grey
			padding 0 1em
			