/*-----------------------------*\
           $AVATARES
           
        Combierte el contenedor en un
        circulo que contiene una imagen
\*------------------------------*/

.circle
	
	&, 
	&--small, 
	&--medium
		display block
		align-items center
		justify-content center
		overflow hidden
		border-radius 50%
	&--small
		width 50px
		height 50px	
	&--medium
		width 100px
		height 100px