.title-main
	font-size: 1em
	text-transform: uppercase

.title-big
	font-size: 21px
	text-transform: uppercase
	font-weight: 100
.subtitle-big
	padding: 1em .3em
	diplay block

.title-question
	font-size: 21px
	color white
	text-transform: uppercase
