.portfolio-header
	background-color: $principal
	&--next
		background-color: $secundario
	&--contact
		background-color: #FFF
		color $secundario
		
.portfolio-item
	background-color $principal
.portfolio-work
	background-color: white
	color $complementario

.portfolio-contact
	background-color $crema
	color $complementario