.portfolio-header
	background-color: white
	
	&--next
		background-color: white
	
		
	&--contact
		background-color: #FFF
		color $secundario
		
.portfolio-item
	background-color $principal
.portfolio-work
	background-color: white
	color $complementario
	width: 100%

.portfolio-contact
	background-color $crema
	color $complementario
	
.margin-off
	margin 0 -10px