section(class="container")

	article(class="row box-margin-t stop-grow") 
		div(class="col-12 portfolio-header--contact shadow-card")
			div(class="row center")
				div(class="col-11 start")
					p(class="start title-portfolio") ¿Ya te decidiste por tu sitio web personal o empresarial?


			div(class="row center portfolio-contact")
				div(class="col-11 start")
					p(class="start box-padding-b box-padding-t box-padding-b text-normal") Visita mi guia de precios estimados para cada tipo de proyecto web, contactame y platiquemos sobre lo que tienes en mente.

			div(class="row center box-padding-b box-padding-t portfolio-contact")
				div(class="col-11 end")
					a(href="/guia.html" class="button-principal") Guia
					a(href="/contact.html" class="button-secundario") Contacto

	section(class="row  box-margin-t between stop-grow")
		div(class="portfolio-header tablets small shadow-card")
			h2(class="bgc-principal center title-feature title-feature box-padding-b box-padding-t") Ultimo proyecto
			figure(class="")
				img(src="/img/portafolio.jpg" class="imgfull")
			div(class="portfolio-work box-padding-b")
				p(class="title-portfolio-x") Arias | Banquetes y Decoración
				p(class="sub-portfolio-x") Empresa especializada en banquetes y todo lo relacionado con la decoración de un evento social.
				a(href="http://serviarias.com/" target="_blank" class="button-plane") Visitar


		div(class="portfolio-header--next tablets small shadow-card")
			h2(class="bgc-principal center title-feature title-feature box-padding-b box-padding-t bgc-secundario") Siguiente proyecto
			figure(class="")
				img(src="/img/portafolio-2.jpg" class="imgfull")
			div(class="portfolio-work")
				p(class="title-portfolio-x") Tu sitio web
				p(class="sub-portfolio-x") No te pierdas de todos los beneficios que le traerá a tu negocio un sitio web.
				


section(class="container")


	article(class="row box-margin-t stop-grow") 
			div(class="col-12 portfolio-header--contact shadow-card")
				div(class="row center")
					div(class="col-11 start")
						p(class="start title-portfolio") ¿Te interesa saber más sobre inter y las tegnologias inplicadas en la web?


				div(class="row center portfolio-contact")
					div(class="col-11 start")
						p(class="start text-normal") visita mi blog donde hablo de todo eso y demas cosas actuales de nuestra vida moderna.

				div(class="row center portfolio-contact box-padding-b")
					div(class="col-11 end")
						a(href="/blog" class="button-principal") blog
