section(class="container")
	article(class="row") 
		div(class="col-12 portfolio-header box-margin-t")
			p(class="center title-feature title-feature box-padding-b box-padding-t") Mi ultimo proyecto

	div(class="row")
		figure(class="")
			img(src="/img/portafolio.png" class="imgfull-x")
