section(class="container")

	article(class="row box-margin-t stop-grow") 
		div(class="col-12 portfolio-header--contact shadow-card")
			div(class="row center bgc-casigris")
				div(class="col-11 start")
					p(class="start title-portfolio principal") No permitas que tu competencia te aventaje


			div(class="row center bgc-casiblanco")
				div(class="col-11 negro-claro start")
					p(class="start box-padding-b box-padding-t box-padding-b text-normal") Ahora que sabes las ventajas de tener un sitio web y lo que gira al rededor de un sitio para su éxito visita mi guía de proyecto y ordena el sitio de tu negocio.
			div(class="row center box-padding-b box-padding-t bgc-casiblanco")
				div(class="col-11 end")
					a(href="/guia" class="button-principal") Guía
					a(href="/contact" class="button-secundario") Contacto

	section(class="row  box-margin-t between stop-grow")
		div(class="portfolio-header tablets small shadow-card")
			h2(class="bgc-principal center title-feature title-feature box-padding-b box-padding-t") Ultimo proyecto
			figure(class="")
				img(src="/img/portafolio.jpg" class="imgfull")
			div(class="portfolio-work box-padding-b")
				p(class="title-portfolio-x") Arias | Banquetes y Decoración
				p(class="sub-portfolio-x") Empresa especializada en banquetes y todo lo relacionado con la decoración de un evento social.
				a(href="http://serviarias.com/" target="_blank" class="button-plane") Visitar


		div(class="portfolio-header--next tablets small shadow-card")
			h2(class="bgc-principal center title-feature title-feature box-padding-b box-padding-t bgc-secundario") Siguiente proyecto
			figure(class="")
				img(src="/img/portafolio3.jpg" class="imgfull")
			div(class="portfolio-work")
				p(class="title-portfolio-x") Tu sitio web
				p(class="sub-portfolio-x") No te pierdas de todos los beneficios que le traerá a tu negocio un sitio web.
				


section(class="container")
	article(class="row box-margin-t stop-grow") 
			div(class="col-12 bgc-casigris rosa-claro shadow-card")
				div(class="row center")
					div(class="col-11 start")
						p(class="start title-portfolio") ¿Te interesa saber más como se construyen los sitios web?


				div(class="row center bgc-casiblanco")
					div(class="col-11 start")
						p(class="start text-normal negro-claro") Visita mi blog donde hablo de todo eso y otras cosas relacionas con el mundo de la tecnología.

				div(class="row center bgc-casiblanco box-padding-b")
					div(class="col-11 end")
						a(href="/blog" class="button-principal") blog
