.feature-content
	padding 1.1em 0

.feature-header
	background-color: $principal
	color white
	padding 1.1em 0
	
	&-text
		color white
.feature-item
	background-color $complementario
	color white

.bgc-features
	background-color rgba(64, 64, 64, 0.03)
	padding 1em 0

.col-6--j
	flex: 0 0 auto
	padding-left: 1%
	padding-right: 1%
	flex-basis: 49%
	max-width: 49%