section(class="container")
	div(class="row stop-grow around")
		article(class="col-6--j small card-panel line-left back-img--features")
			span(class="title-impresion") Pero, tener un bonito sitio web no es sificiente
			div(class="")
		article(class="col-6--j small card-panel line-abajo")
			span(class="") No, para poder obtener los beneficios de tener tu propio sitio web, este debe ser desarrollado pensando en dispositivos móviles, en escalabilidad, optimización en buscadores, servicios que garanticen la permanencia del sitio web, las configuraciones adecuadas para medir la interacción de tus clientes con el negocio y deben ocurrir una serie de eventos para promover tu marca e incitar a que visiten el sitio.
			div(class="")


		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature1.png")
			div(class="card-content")
				span(class="card-title activator") Responsive design
					i(class="material-icons right") more_vert
				p(class="") Diseño web adaptable a dispositivos móviles
			div(class="card-reveal")
				span(class="card-title") Responsive design
					i(class="material-icons right") close
				p(class="") Es una de las alternativas de diseño y desarrollo web para garantizar que las páginas de un sitio sean capaces de adaptar su apariencia a cualquier dispositivo móvil. Esta filosofía garantiza la correcta visualización para mejorar la experiencia de usuario.
		
		
		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature2.png")
			div(class="card-content")
				span(class="card-title activator") SEO
					i(class="material-icons right") more_vert
				p(class="") Optimizacion en motores de busqueda
			div(class="card-reveal")
				span(class="card-title") Optimizacion en motores de busqueda
					i(class="material-icons right") close
				p(class="") Es un proceso técnico, que organiza la estructura y el contenido de las páginas de un sitio web, para mejorar la visibilidad en los buscadores, mejorando el posicionamiento natural en las búsquedas con términos o palabras relacionadas con tu negocio.
		
		
		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature3.png")
			div(class="card-content")
				span(class="card-title activator") Nombre de dominio
					i(class="material-icons right") more_vert
				p(class="") Ya has visto algo como: http://jahaziel04.com
			div(class="card-reveal")
				span(class="card-title") Nombre de dominio
					i(class="material-icons right") close
				p(class="") Esto es un nombre de dominio, no encontraras otro igual, es la dirección del sitio. Existen dominios gratuitos, pero usarlos refleja poco profesionalismo y seriedad a tu negocio. Piensa en uno que represente o a tu marca, en tu publicidad no debe faltar tu nombre de dominio.
		
		
		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature4.png")
			div(class="card-content")
				span(class="card-title activator") web hosting
					i(class="material-icons right") more_vert
				p(class="") Hospedaje web
			div(class="card-reveal")
				span(class="card-title") Web hosting
					i(class="material-icons right") close
				p(class="") Es una analogía de hospedaje o alojamiento en hoteles, porque es donde vivirá tu sitio, ahí se guardará el código, imágenes, videos, y todos de lo que esté compuesto. Tu no tendrás que ocuparte del hosting, pero es bueno saber que sepas que es uno de los servicios que garantizaran la permanencia de tu sitio en internet.
		
		
		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature5.png")
			div(class="card-content")
				span(class="card-title activator") Medios sociales
					i(class="material-icons right") more_vert
				p(class="") Generando contenido de valor
			div(class="card-reveal")
				span(class="card-title") Medios sociales
					i(class="material-icons right") close
				p(class="") Seguro tienes una cuenta en Twitter, Facebook, Instagram, etc. Estos medios se vuelven muy importantes si se genera contenido atractivo y de utilidad para tus clientes, hace que exista un continuo foco hacia la marca, que aliente al continuo consumo y propague confianza a futuros usuarios.
		
		
		article(class="col-6--j small card")
			div(class="card-image waves-effect waves-block waves-light")
				img(class="activator" src="img/feature6.png")
			div(class="card-content")
				span(class="card-title activator") Herramientas de Google
					i(class="material-icons right") more_vert
				p(class="") Anúnciate, mide y haz que lleguen a ti.
			div(class="card-reveal")
				span(class="card-title") Herramientas de Google
					i(class="material-icons right") close
				p(class="") Google nos brinda servicios para potenciar la marca y nos permite ser parte de su ecosistema de mapas, su buscador, red social (google-plus) y la habilidad de poder medir el tráfico en nuestro sitio, mostrándonos métricas que te ayudaran a controlar el negocio, para saber cuánto estas o no creciendo.
		
		