section(class="container")
	div(class="row") 
		article(class="col-12 feature-header box-margin-t")
			header(class="row center")
				div(class="col-11 start")
					p(class="title-feature") Pero tener un sitio bonito web no es suficiente
			
	div(class="row back-img--contain")
		div(class="col-12")
			div(class="row bgc-transparent")
				article(class="col-12 feature-header-text")
					header(class="row center")
						div(class="col-11 start")
							p(class="text-normal") No, para que nuestro sitio web sea efectivo, necesita tener una serie de caracteristicas y configuraciones que en conjunto harán que tu sitio sea mas visitado ganando popularidad hasta comvertirte en una autoridad en el tu sector

	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") SEO
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") Search Engine Optimization
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") Optimización de motores de busqueda

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") Si tu sitio está correctamente optimizado, los buscadores podrán indexar su contenido para que puedan llegar a tu sitio simplemente al buscar en google algo relacionado con tu negocio y productos.
					

	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") Dominio
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") Seguro alguna vez has visto algo asi:
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") www.jahaziel04.com

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") Pues es un nombre de dominio, elegir el propio es una de las cosas mas importantes para tu sitio pues la dirección del sitio web. Existen gratuitos, pero un nombre de dominio gratuito le resta credibilidad a tu negocio.
	
	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") Hospedaje
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") Hosting, web hosting
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") 

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") Tal vez no sabias pero tu sitio tiene que vivir en algun lugar, y los hospedajes para sitios web son un servicio dedicado a almacenar toda la información de tu sitio para que pueda ser consultada por cualquier persona mediante tu nombre de dominio.
	
	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") Marketing
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") ¿Como promociono mi sitio?
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") Estar por todas partes

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") La optimización para buscadores es una forma de marketing, pero hoy en dia tenemos redes sociales, sin olvidar el marketing impreso, pero las redes sociales son una potente herramienta para atraer a las personas a nuestro sitio.


	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") Google Maps
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") ¿Como llego a tu oficina o local?
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") Es facíl

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") Guia a tus clientes usando Google maps, esta poderosa herramienta nos permite mostrar nuestra hubicación.


	section(class="row")
		article(class="col-12 feature-item box-padding-t")
			header(class="row center line-85")
				div(class="col-8 start")
					p(class="title-feature") Estadisticas
				div(class="col-3")
					div(class="circle--icon")
						i(class="icon-search")
			div(class="row")
				div(class="col-12")
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--crema") Google Analitics
					div(class="row center")
						div(class="col-11 start")
							p(class="title-feature--sub") Mide todo

					div(class="row center")
						div(class="col-11 start")
							p(class="text-normal") Como saber si se mejora si no se esta midiendo de alguna forma nuestra efectividad, medir es la manera de saber en donde estas fallando y que es lo que realmente de funciona, las metricas no deben faltar en tu sitio web



			div(class="row center box-padding-t")
				div(class="col-11 end")
					div(class="button")
						span(class="") Leer más