section(class="container")
	div(class="row stop-grow")
		div(class="col-12 box-margin-t shadow-card bgc-up")
			div(class="row feature-header") 
				article(class="tablets")
					header(class="row center")
						div(class="col-11 start")
							p(class="title-feature") Pero, tener un bonito sitio web no es suficiente.
					
			div(class="row back-img--contain")
				div(class="col-12 bgc-transparent feature-header-text")
					header(class="row center")
						div(class="col-11 start")
							p(class="text-normal fix-margin") No, para poder obtener los beneficios de tener tu propio sitio web, este debe ser desarrollado pensando en dispositivos móviles, en escalabilidad, optimización en buscadores, servicios que garanticen la permanencia del sitio web, las configuraciones adecuadas para medir la interacción de tus clientes con el negocio y deben ocurrir una serie de eventos para promover tu marca e incitar a que visiten el sitio.
							p(class="text-normal fix-margin") A continuación, te describiré brevemente un poco los conceptos que he mencionado anteriormente.

			section(class="row center")
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Responsive design
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-mobile")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Diseño responsivo
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Diseño web adaptable a dispositivos móviles

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Es una de las alternativas de diseño y desarrollo web para garantizar que las páginas de un sitio sean capaces de adaptar su apariencia a cualquier dispositivo móvil. Esta filosofía garantiza la correcta visualización para mejorar la experiencia de usuario.
							

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") SEO
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-search")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Search Engine Optimization
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Optimización en motores de búsqueda u optimización web

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Es un proceso técnico, que organiza la estructura y el contenido de las páginas de un sitio web, para mejorar la visibilidad en los buscadores, mejorando el posicionamiento natural en las búsquedas con términos o palabras relacionadas con tu negocio.
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Social media
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-marketing")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Primero existo luego me publicito
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Generando contenido de valor 

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Seguro tienes una cuenta en Twitter, Facebook, Instagram, etc. Estos medios se vuelven muy importantes si se genera contenido atractivo y de utilidad para tus clientes, hace que exista un continuo foco hacia la marca, que aliente al continuo consumo y propague confianza a futuros usuarios.
			
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Nombre de dominio
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-globe")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Domain name
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Ya has visto algo como: http://jahaziel04.com

							div(class="row center")
								div(class="col-11 start") 
									p(class="text-normal") Esto es un nombre de dominio, no encontraras otro igual, es la dirección del sitio. Existen dominios gratuitos, pero usarlos refleja poco profesionalismo y seriedad a tu negocio. Piensa en uno que represente o a tu marca, en tu publicidad no debe faltar tu nombre de dominio.

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Hospedaje web
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-cabinet")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Web hosting
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") ¿Ya habías escuchado el termino?
							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Es una analogía de hospedaje o alojamiento en hoteles, porque es donde vivirá tu sitio, ahí se guardará el código, imágenes, videos, y todos de lo que esté compuesto. Tu no tendrás que ocuparte del hosting, pero es bueno saber que sepas que es uno de los servicios que garantizaran la permanencia de tu sitio en internet.

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") GOOGLE
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-chrome")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Herramientas de Google
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Anúnciate, mide y haz que lleguen a ti.

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Google nos brinda servicios para potenciar la marca y nos permite ser parte de su ecosistema de mapas, su buscador, red social (google-plus) y la habilidad de poder medir el tráfico en nuestro sitio, mostrándonos métricas que te ayudaran a controlar el negocio, para saber cuánto estas o no creciendo.