section(class="container")
	div(class="row") 
		article(class="col-12 feature-header box-margin-t")
			header(class="row center")
				div(class="col-11 start")
					p(class="title-feature") Pero tener un sitio bonito web no es suficiente
			
	div(class="row back-img--contain")
		div(class="col-12")
			div(class="row bgc-transparent")
				article(class="col-12 feature-header-text")
					header(class="row center")
						div(class="col-11 start")
							p(class="text-normal") No, para que nuestro sitio web sea efectivo, necesita tener una serie de caracteristicas y configuraciones que en conjunto harán que tu sitio sea mas visitado ganando popularidad hasta comvertirte en una autoridad en el tu sector


			