section(class="container")
	div(class="row stop-grow")
		div(class="col-12 box-margin-t shadow-card bgc-up")
			div(class="row feature-header") 
				article(class="tablets")
					header(class="row center")
						div(class="col-11 start")
							p(class="title-feature") Pero tener un sitio bonito web no es suficiente
					
			div(class="row back-img--contain")
				div(class="col-12 bgc-transparent feature-header-text")
					header(class="row center")
						div(class="col-11 start")
							p(class="text-normal fix-margin") No, para poder obtener los beneficios de tener tu propio sitio web, este debe ser desarrollado pensando en dispositivos móviles, en escalabilidad, optimización en buscadores, servicios que garanticen la permanencia del sitio web, las configuraciones adecuadas para medir la interacción de tus clientes con el negocio y deben ocurrir una serie de eventos para promover tu marca e incitar a que visiten el sitio.
							p(class="text-normal fix-margin") A continuación, te describiré brevemente un poco los conceptos que he mencionado anteriormente.

			section(class="row center")
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Responsive design
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-mobile")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Diseño responsivo
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Diseño web adaptable a dispositivos móviles

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Es una de las alternativas de diseño y desarrollo para garantizar que los sitios web sean capaces de adaptarse a cualquier dispositivo móvil y los distintos tamaños de pantallas que existen, esta filosofía garantiza una mejor experiencia de usuario evitándole al mismo tener que hacer zoom para poder leer el contenido.
							

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Seo
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-search")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Seach Engine Optimization
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Optimización en motores de búsqueda u optimización web

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") El SEO es un proceso en el cual a tu sitio web se le realizaran una serie configuraciones estructurales y de información para mejorar la visibilidad orgánica (no pagada) en los buscadores, las actividades denominadas de SEO son las responsables de que tu sitio sea encontrado en los buscadores, a medida que las visitas al sitio de tu negocio aumenten Google te posicionara gradualmente entre los primeros resultados de búsqueda.
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Social media
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-marketing")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Primero existo luego me publicito
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") 

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Seguro tienes una cuenta de Google-plus, Twitter, Facebook, Instagram, etc. Pues son importantes para la Social-media, que a su vez es parte fundamental del marketing digital y debido bum de los dispositivos móviles es donde más tiempo pasamos. Es como las redes sociales se vuelven tan importantes para nuestro negocio, pues es el lugar perfecto para decirle al mundo; "¡hey existo!, visita mi sitio web", pero solo la correcta administración de estas y la constante creación de contenido es lo que nos ayudará a llegar a más gente, a que más personas hablen de nuestro producto o negoció.
			
				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Nombre de dominio
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-blobe")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Domain name
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") Seguro que has visto algo como: http://jahaziel04.com

							div(class="row center")
								div(class="col-11 start") Pues es mi nombre de dominio y no encontraras otro igual, es único, es la dirección de mi sitio web. Existen nombres de dominio gratuitos, pero hacer uso de esto resta credibilidad a tu negocio. El dominio es lo que colocaras en revistas, periódicos, televisión y demás medios tradicionales para que puedan llegar a ti solo escribiendo www.tunegocio.com.

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Hospedaje web
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-cabinet")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Web hosting
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") ¿Ya habias escuchado el termino?

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Pues es una analogía de hospedaje o alojamiento de hoteles, porque es donde permanecerá tu sitio, es el lugar que ocupara todo el código, imágenes, vídeo y todo de lo que esté compuesto tu sitio, no te preocupes tu no tendrás que ocuparte de ello, pero es uno de los servicios que hacen posible la permanecía de tu sitio en el mundo del internet.

				article(class="tablets line-odd feature-item box-padding-t")
					header(class="row center")
						div(class="col-8 start")
							p(class="title-feature") Google
						div(class="col-3")
							div(class="circle--icon")
								i(class="icon-chrome")
					div(class="row")
						div(class="col-12")
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--crema") Herramientas de Google
							div(class="row center")
								div(class="col-11 start")
									p(class="title-feature--sub") núnciate, mide, haz que sepan cómo llegar a ti etc...

							div(class="row center")
								div(class="col-11 start")
									p(class="text-normal") Google te brinda muchos servicios para potencializar tu marca, permitiéndote darte de alta para que su buscador encuentre tu contenido, pueda medir el tráfico de usuarios, crees una identidad física y puedas guiar a los clientes a tus oficinas y muchos más, también existen servicios de pago, que potencian aún más tu marca, pero todo según tus necesidades.