doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Contacto::Escribe seguro te contestaré casi al instante
		meta(name="description" content="Puedes contactarme mediente las redes sociales mas conocidas así como tambien mi correo electronico o telefono personal")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="icon", type="image/jpg" href="/img/favicon.jpg")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

	body
		include ./nav/template.jade
		include ./contact/header-contact/template.jade
		include ./footer/template.jade


		include ./analitics/template.jade
		script(src="./js/bundle.js")