doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Preguntas frecuentes | Jahaziel Ortiz Barrios
		meta(name="description" content="Todas las dudas que tengas sobre que debes tener para que se realize tu sitio web")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="icon", type="image/png" href="/img/")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		include ./nav/template.jade
		
		section(class="header-profile-bottom")
			div(class="back-img--faq")
				div(class="back-img--faq--t")

				article(class='container')
					div(class="row")
						div(class="col-12 start z-index")
							div(class="row center")
								div(class="col-10 center")
									h1(class="title-main--contact box-padding--x2") Preguntas frecuentes
										span(class="line-p")

		section(class="container")
			article(class="row around stop-grow--sinBottom shadow-card")
				div(class="tablets small start")
					p(class="") 
						a(href="#answer1" class="question") ¿Que tipo de mesas tienen?
					p(class="")
						a(href="#answer2" class="question") ¿Debo tener fecha cuando la fecha del evento al hacer el contrato?
					p(class="")
						a(href="#answer3" class="question") ¿Como se efectuan los pagos?
					p(class="")
						a(href="#answer4" class="question") ¿Tienen sistema de apartado?
					p(class="")
						a(href="#answer5" class="question") ¿Que formas de pago manejan?
				div(class="tablets small start")
					p(class="") 
						a(href="#answer1" class="question") ¿Que tipo de mesas tienen?
					p(class="")
						a(href="#answer2" class="question") ¿Debo tener fecha cuando la fecha del evento al hacer el contrato?
					p(class="")
						a(href="#answer3" class="question") ¿Como se efectuan los pagos?
					p(class="")
						a(href="#answer4" class="question") ¿Tienen sistema de apartado?
					p(class="")
						a(href="#answer5" class="question") ¿Que formas de pago manejan?






			article(class="row center stop-grow shadow-card")
				div(class="col-12 start")
					div(class="")
						h3(id="answer1" class="question-target") ¿Que tipo de mesas tienen?
						p(class="") Contamos con mesa redonda para 10 y 6 personas
				

						h3(id="answer2" class="question-target") ¿Debo tener fecha cuando la fecha del evento al hacer el contrato?
						p(class="") Así es, pues es un factor para poder apartarnos para un evento, ademas que influye en el presupuesto
				
						h3(id="answer3" class="question-target") ¿Como se efectuan los pagos?
						p(class="") Se hace un pago por adelantado del 25% o 50% dependiendo de que tan grande sea el evento, se liquita la cantidad total 2 dias antes del evento.
				
						h3(id="answer4" class="question-target")  ¿Tienen sistema de apartado?
						p(class="") Así es, lo apartas con un 25% o 50% del monto total.
						p(class="") La renta de mobiliario solo es una sola exhibición y el dia del pedido.
				
						h3(id="answer5" class="question-target") ¿Que formas de pago manejan?
						p(class="") Puedes hacernos un deposito o el pago en efectivo en nuestras oficionas

						h3(id="answer6" class="question-target") ¿Con cuantos dias de anticipación debo hacer el apartado de la fecha?
						p(class="") Si es mobiliario una semana antes, incluso un dia antes si hubiece disponible.
						p(class="") La manteleria puede ser el mismo dia, pero depende de la disponibilidad.
						p(class="") Pero si es un evento grande, de preferencia has el apartado 15 dias antes de tu evento, muchos apartan 10 meses antes para asegurar la disponibilidad de la fecha.


						h3(id="answer7" class="question-target") ¿Venden los arreglos de mesa?
						p(class="") Si, ven a nuestras oficinas y compra el que mas te guste, si compras 12 tendras un increible descuento.

						h3(id="answer8" class="question-target") ¿Tienen descuentos?
						p(class="") Así es, ve a nuestra sección de paquetes, en cada uno tendrás ventajas únicas, cuando vengas a nuestras oficinas pregunta por promociones, seguro tendremos una para ti.

						h3(id="answer9" class="question-target") ¿Tienen limite geografíco?
						p(class="") No, nuestro objetivo es llegar a todo el país.

						h3(id="answer10" class="question-target") ¿Que sucede si los platillos del menú no me gustan para mi evento?
						p(class="") <span><a href="" href="/contactato.html" class=""> Contactate </a></span> con nosotros, seguro tenemos una solución.



		include ./footer/template.jade

		script(src="./js/bundle.js")