doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Preguntas frecuentes | Jahaziel Ortiz Barrios
		meta(name="description" content="Todas las dudas que tengas sobre que debes tener para que se realize tu sitio web")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="icon", type="image/png" href="/img/")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		include ./nav/template.jade
		
		section(class="header-profile-bottom")
			div(class="back-img--faq")
				div(class="back-img--faq--t")

				article(class='container')
					div(class="row")
						div(class="col-12 start z-index")
							div(class="row center")
								div(class="col-10 center")
									h1(class="title-main--contact box-padding--x2") Preguntas frecuentes
										span(class="line-p")

		section(class="container")
			article(class="row around stop-grow--sinBottom shadow-card")
				div(class="tablets small start")
					p(class="") 
						a(href="#answer1" class="question") ¿Tengo que hacer pagos mensuales?
					p(class="")
						a(href="#answer2" class="question") ¿Qué información necesitan para hacer mi sitio web?
					p(class="")
						a(href="#answer3" class="question") ¿Qué tiempo tardara el desarrollo de mi sitio web?
					p(class="")
						a(href="#answer4" class="question") ¿Cómo funciona el proceso del diseño web?
					p(class="")
						a(href="#answer5" class="question") ¿Tengo que firmar algún contrato?
				div(class="tablets small start")
					p(class="") 
						a(href="#answer1" class="question") ¿Usarás templates(plantillas ya hechas) para mi sitio web?
					p(class="")
						a(href="#answer2" class="question") ¿Qué pasa si ya tengo hosting y dominio?
					p(class="")
						a(href="#answer3" class="question") Podré ver el avance del desarrollo de mi sitio?
					p(class="")
						a(href="#answer4" class="question") 
					p(class="")
						a(href="#answer5" class="question") 






			article(class="row center stop-grow shadow-card")
				div(class="col-12 start")
					div(class="")
						h3(id="answer1" class="question-target") ¿Tengo que hacer pagos mensuales?
						p(class="") No, para nada, el proyecto se divide en tres únicos pagos, que son cuando se levantan requerimientos, cuando se termina el diseño y finalmente cuando se publica el sitio web.
				

						h3(id="answer2" class="question-target") ¿Qué información necesitan para hacer mi sitio web?
						p(class="") Bien, será necesario el logotipo de la empresa, las imágenes que desea mostrar y los textos que quiera vallan en el sitio, es importante que se haga llegar la identidad de tu negocio, como lo es la misión, visión, lema de la empresa o alguna frase única con la que quiera esté siempre relacionado a su marca, estos requerimientos se los haré llegar con más detalle cuando se inicie el proceso.
				
						h3(id="answer3" class="question-target") ¿Qué tiempo tardara el desarrollo de mi sitio web?
						p(class="") El tiempo es un estimado de 15 a 20 días, los tiempos pueden alargarse a medida del tamaño del sitio web, de las pagina que lo compongan y la información que desee publicar.
				
						h3(id="answer4" class="question-target") Cómo funciona el proceso del diseño web?
						p(class="") Una vez se reciba toda la información que contendrá el sitio se procede al análisis de esta, para darle la mejor estructura para posteriormente realizar dos opciones de diseño basados en los colores que identifiquen su negocio y el concepto de diseño que más favorezca a su tipo de mercado.
				
						h3(id="answer5" class="question-target") ¿Tengo que firmar algún contrato?
						p(class="") Si, en el momento en que se entreguen el contenido que quiere este en el sitio web se firmará un contrato donde se establece los servicios que recibirá a cambio de la cantidad que venga estipulada en el mismo.

						h3(id="answer6" class="question-target") ¿Usarás templates(plantillas ya hechas) para mi sitio web?
						p(class="") No, para nada, el sitio será diseñado a medida, de acuerdo al tipo de negocio y será desarrollado desde cero.


						h3(id="answer7" class="question-target") ¿Qué pasa si ya tengo hosting y dominio?
						p(class="") Si eso sucede, te pediré que nos confíes información sobre el acceso a tus servicios para que pueda utilizarlos en tu proyecto y se considera al momento de establecer el presupuesto.

						h3(id="answer8" class="question-target") ¿Podré ver el avance del desarrollo de mi sitio?
						p(class="") Si, te proporcionaré la dirección donde podrás ver el avance.

						h3(id="answer9" class="question-target") 
						p(class="") 

						h3(id="answer10" class="question-target") 
						p(class="") 



		include ./footer/template.jade

		script(src="./js/bundle.js")