doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Peril::Jahaziel Ortiz Barrios::Diseñador y desaroolador web
		meta(name="description" content="Profecional especializado en diseño de interfaces, UX y desarrollador web")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="icon", type="image/png" href="")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

	body
		include ./nav/template.jade
		include ./profile/template.jade


		script(src="./js/bundle.js")