header(id="header" class="header")
	nav(class="navbar")
		a(href="/" class="brand")
			figure(class="margin-left circle--small disappear")
				img(class="imgfull" src="img/avatar.jpg", alt="")
			p(class="title-brand") Jahaziel Ortiz Barrios
		div(href="" class="toggle")
			i(class="fa fa-bars")

		div(class="right")

			a(href="/profile" class="link") Perfil
	
		div(class="right")

			a(href="/faq" class="link" id="button-portafolio") Faq

		div(class="right")

			a(href="/guia" class="link" id="") Guia

		div(class="right")
			a(href="/blog" class="link") Blog
			
		div(class="right")
			a(href="contact" class="link focus") Contacto
			