section(class="relative")
	div(class="back-img--guide")
		div(class="back-img--guide--t")
		

		article(class='container')
			div(class="row")
				div(class="col-12 start z-index")
					div(class="row center")
						div(class="col-10 center")
							h1(class="title-main--contact box-padding--x2") Guia de servicio
								span(class="line-p")

			div(class="row center box-guide")
				div(class="small col-9")
					div(class="row")
						div(class="col-12 bgc-white")
							p(class="text-normal title-main--guide") Mas que solo un sitio web
					div(class="row around")
						article(class="col-6 small bgc-principal")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-ruler")
								div(class="col-9 start")
									p(class="") Es diseño de acuerdo a tus necesidades, adaptado a tu marca y tipo de negocio
									

						article(class="col-6 small bgc-secundario")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-window")
								div(class="col-9 start")
									p(class="") Landing-page, pagina de contacto, servicios, portafolio, preguntas frecuentes, acerca de...
									
						article(class="col-6 small bgc-white")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-mobile")
								div(class="col-9 start")
									p(class="") Diseño responsivo
									
						article(class="col-6 small bgc-fondo")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-search")
								div(class="col-9 start")
									p(class="") SEO Basico

						article(class="col-6 small bgc-principal")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-globe")
								div(class="col-9 start")
									p(class="") Domino
									

						article(class="col-6 small bgc-secundario")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-cabinet")
								div(class="col-9 start")
									p(class="") Hosting

						article(class="col-6 small bgc-white")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-chrome")
								div(class="col-9 start")
									p(class="") Alta en buscadores
									
						article(class="col-6 small bgc-fondo")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-map")
								div(class="col-9 start")
									p(class="") Alta en google maps

						article(class="col-6 small bgc-principal")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-stats")
								div(class="col-9 start")
									p(class="") Estadisticas de tu sitio, sabras de donde llegan tus usuarios, si usan mobiles o desktop, y un sin fin metricas.
									

						article(class="col-6 small bgc-secundario")
							header(class="row start middle")
								div(class="col-2")
									div(class="circle--icon-guide")
										i(class="icon-share")
								div(class="col-9 start")
									p(class="") Social nedia: Te encaminaré a tener presencia en redes sociales, te guiaré a hacer tu propio marketing digital, por un mes crearé contenido para ti para llevar trafico a tu sitio.

			div(class="row center box-margin-t")
				div(class="col-3 bgc-crema")
					p(class="") $6,000

			div(class="row center box-margin-t")
				div(class="col-9 small start bgc-principal")
					div(class="row center  middle")
						div(class="col-5 small start")
							p(class="text-normal") Recuerda, es solo una guia.
							p(class="text-normal") Tal vez ya tengas tu diseño, requieras menos o mas paginas, incluso podrias tener dominio y hosting, así que contactame para cotizar tu proyecto.
						div(class="col-6 small end box-margin")
							a(href="" class="button-white") Contacto

		include ../footer/template.jade