section(class="bgc-white")
	article(class="header-card line-bottom")
		section(class="header-card-top--other")
		section(class="header-profile-bottom back-img--guide")
			
			div(class="container")
				div(class="row end middle")
					div(class="col-4 center small")
						h1(class="title-main") Guia de servicio
							span(class="line-p")
					div(class="col-7 small center")
						img(class="img30" src="img/compass.png")
	article(class="container")
		header(class="row center")
			div(class="col-9 small")
				div(class="box-guide")
					span(class="icon-box icono-box")
					span(class="negro-claro title-main--contact") Tu proyecto será más que solo un sitio web, será un paquete de servicios.

		section(class="row center")
			div(class="col-9 small start")
				div(class="servi")
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 1
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Diseño
							span(class="servi-content--paragraph") Creado especialmente para tu marca y tipo de negocio.
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 2
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Adaptado a móviles
							span(class="servi-content--paragraph") Podrá verse en cualquier pantalla.

				div(class="servi")
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 3
						div(class="servi-content negro-claro")
							span(class="servi-content--title") 6 Paginas
							span(class="servi-content--paragraph") 1 Sitio compuesto 6 paginas con tu información ordenada.
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 4
						div(class="servi-content negro-claro")
							span(class="servi-content--title") SEO
							span(class="servi-content--paragraph") Alta en buscadores y optimización para motores de busqueda.


				div(class="servi")
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 5
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Alta en Google Maps
							span(class="servi-content--paragraph") Serás parte de la red de mapas de Google.
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 6
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Estadísticas
							span(class="servi-content--paragraph") Sabrás cuantas personas te visitan, de donde y muchos más datos.


				div(class="servi")
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 7
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Dominio
							span(class="servi-content--paragraph") Regristro de dominio y plan por un año.
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 8
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Hospedaje web
							span(class="servi-content--paragraph") 1 año con almacenamiento de 30GB.

				div(class="servi")
					div(class="servi-item")
						div(class="servi-number")
							span(class="") 9
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Social media
							span(class="servi-content--paragraph") Generación de contenido en tus redes sociales por el primer mes, con la misión de llevar trafico a tu web sin costos.
					div(class="servi-item")
						span(class="servi-number--pink")
							span $
						div(class="servi-content negro-claro")
							span(class="servi-content--title") Todo esto por:
							span(class="servi-content--prize") 6,000
			div(class="col-9 start small")
				div(class="dialog end")
					p(class="negro-claro start") Hablemos sobre lo que tienes en mente, lo de arriba es una guia de donde partir, pero tal vez tu sitio requiera menos o más, así que escribeme.

					a(href="/blog" class="button-principal") Contacto