.line--footer
	border-top 1px solid #ddd
	@media screen and (min-width: 719px)
		border none
		border-left 1px solid #ddd
		
.col-offset-off
	@media screen and (max-width: 719px)
		margin-left 0
.footer-icon
	padding-right 1.5em
	
	
.color-white
	color white
.icon-copyright
	margin-right .3em
	display inline-block