div(class="bgc-complementario box-margin-t box-padding-t box-padding-b shadow-card")
	div(class="container")
		div(class="row center")
			div(class="col-11")
				div(class="row center")
					div(class="col-6 start small")
						p(class="text-normal--footer") Jahaziel Ortiz Barrios
						p(class="text-normal--footer") Diseño y Desarrollo web
						a(class="text-normal--footer" href="tel:+9222561684") 922 256 16 84
						p(class="text-normal--footer") jahaziel041090@hotmail.com



					div(class="col-6 start small line--footer")
						p(class="text-normal--footerMayus col-offset-1 col-offset-off")
							a(href="/profile") Perfil
						p(class="text-normal--footerMayus col-offset-1 col-offset-off")
							a(href="/contact") Contacto
						p(class="text-normal--footerMayus col-offset-1 col-offset-off")
							a(href="/faq") Preguntas frecuentes
						p(class="text-normal--footerMayus col-offset-1 col-offset-off")
							a(href="/blog") Blog
						
		div(class="row center")
			div(class="col-11")
				div(class="row")
					div(class="col-6 start color-white small")
						p(class="text-normal col-offset-1 col-offset-off") <span class="icon-copyright"></span> 2016-2017 Jahaziel04
					div(class="col-6 start small")
						div(class="col-offset-1 col-offset-off text-normal--footerMayus")
							a(href="https://plus.google.com/u/0/104019931078090167469" target="_blank" class="footer-icon icon-google-plus ")
							a(href="https://www.facebook.com/Jahaziel.Ortiz.Barrios" target="_blank" class="footer-icon icon-facebook")
							a(href="https://www.instagram.com/jahaziel04/" target="_blank" class="footer-icon icon-instagram")
							a(href="https://twitter.com/Jahaziel004" target="_blank" class="footer-icon icon-twitter")
							a(href="https://github.com/Jahaziel04" target="_blank" class="footer-icon icon-github")
							a(href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button" target="_blank" class="footer-icon icon-linkedin")
