/*-----------------------------*\
           $ESPACIADOR
Majera los espacios en diferentes resoluciones
\*------------------------------*/
.pru
	width: 98%



/*-----------------------------*\
           $IMAGEN-FULL
           
           imgagen al 100%
\*------------------------------*/
.imgfull
	width: 100%



/*-----------------------------*\
           $BOX_PADDING
    Tiene un padding top y bottom de 1em
\*------------------------------*/
.box-padding-t
	padding-top 1.1em
	

/*-----------------------------*\
           $BOX_MARGIN
    Tiene un margin top de 7.1 lo uso en
    para hacer el efecto de la imagen de fondo
\*------------------------------*/
.box-margin-t
	margin-top 10.1em

/*-----------------------------*\
           $LINEA
           Linea debajo de un titulo
\*------------------------------*/
.line::after
	display block; 
	content ' '; 
	width 90px 
	height 2px; 
	background $principal
	margin 7px auto;
	
	
/*-----------------------------*\
       $CAPA DE TRANSPARENCIA           
\*------------------------------*/
.transparent
	height: 250px
	width: 100%
	position: absolute
	top 0
	left 0
	background-color: rgba(83,119,128,0.5)

.bgc-transparent
	background-color: rgba(83,119,128,0.5)
/*-----------------------------*\
       $Z-INDEX DE 1           
\*------------------------------*/


/*-----------------------------*\
           $BACKGROUND-IMG
           
\*------------------------------*/
.back-img
	background-image: url('../img/negocio.jpg')
	height: 250px
	background-repeat no-repeat
	background-position: center
	background-attachment: fixed
	background-size: cover
	width: 100%
	position: relative


.back-img--contain
	background-image: url('../img/features.jpg')
	background-size cover
	background-repeat no-repeat
	background-position: center
	
	
	