/*-----------------------------*\
           $ESPACIADOR
Majera los espacios en diferentes resoluciones
\*------------------------------*/
.pru
	width: 98%



/*-----------------------------*\
           $IMAGEN-FULL
           
           imgagen al 100%
\*------------------------------*/
.imgfull
	width: 100%
.imgfull-x
	width: 100%
	height 100%



/*-----------------------------*\
           $BOX_PADDING
    Tiene un padding top y bottom de 1em
\*------------------------------*/
.box-padding-t
	padding-top 1.1em
.box-padding-b
	padding-bottom 1.1em
	

/*-----------------------------*\
           $BOX_MARGIN
    Tiene un margin top de 7.1 lo uso en
    para hacer el efecto de la imagen de fondo
\*------------------------------*/
.box-margin-t
	margin-top 1.1em

/*-----------------------------*\
           $LINEAS
           Linea debajo de un titulo
\*------------------------------*/
.line::after
	display block; 
	content ' '; 
	width 90px 
	height 2px; 
	background $principal
	margin 7px auto;
.line-85::after
	display block; 
	content ' '; 
	width 85% 
	height 1px; 
	background solid rgba(221, 221, 221, 0.28)
	margin 7px auto;
.line-top
	border-top 1px solid #ddd;
.line-bottom
	border-bottom 1px solid #ddd;
/*-----------------------------*\
       $CAPA DE TRANSPARENCIA           
\*------------------------------*/
.transparent
	height: 250px
	width: 100%
	position: absolute
	top 0
	left 0
	background-color: rgba(83,119,128,0.5)

.bgc-transparent
	background-color: rgba(83,119,128,0.5)
/*-----------------------------*\
       $Z-INDEX DE 1           
\*------------------------------*/


/*-----------------------------*\
           $BACKGROUND-IMG
           
\*------------------------------*/
.back-img
	background-image: url('../img/negocio.jpg')
	background-size cover
	background-repeat no-repeat
	background-position: center
	height: 200px
	width: 100%
	z-index: -1
	background-attachment fixed

.filtro-blur
	-webkit-filter: blur(3px);
	filter: blur(2px);


.back-img--contain
	background-image: url('../img/features.jpg')
	background-size cover
	background-repeat no-repeat
	background-position: center

.relative
	position: relative
	
.absolute
	position: absolute