/*-----------------------------*\
           $ESPACIADOR
Majera los espacios en diferentes resoluciones
\*------------------------------*/
.pru
	width: 98%



/*-----------------------------*\
           $IMAGEN-FULL
           
           imgagen al 100%
\*------------------------------*/
.imgfull
	width: 100%



/*-----------------------------*\
           $LINEA
           Linea debajo de un titulo
\*------------------------------*/
.line::after
	display block; 
	content ' '; 
	width 90px 
	height 2px; 
	background $principal
	margin 7px auto;