$header-color = #A41652
$header-color2 = #11D3BC
$rosa-secundario = #C50E5B
$white-proyect = #F2F2F2
$white-about = #f5f5f5
$green-proyect = #92b331
$green-proyect2 = #8BC34A
$green-proyect3 = #A1CA28
$grey-servicios = #e6e6e6
$negro-carbon = #2d2b2b
$color-grey = #686868
$blue = #009DEA


$principal = #11D3BC
$secundario = #55E9BC
$complementario = #537780
$crema = #FFFCCA
$fondo = #F2F2F2