$principal = #24C2CB
$secundario = #ee6e73
$complementario = #404040
$crema = #FFFCCA
$fondo = #F2F2F2
$negro-claro = #404040
$rosa-claro = #ee6e73
$casi-blanco = #fcfafa
$casi-gris = #f5f5f5

$rosa-fuerte = #EF525B
$facebook = #3b5998
$google-plus = #dd4b39
$twitter = #55acee
$linkedin = #007bb5
$instagram = #125688

.white
	color white
.negro-claro
	color #404040
.principal
	color $principal
.rosa-claro
	color $rosa-claro