$principal = #24C2CB
$secundario = #EF525B
$complementario = #404040
$crema = #FFFCCA
$fondo = #F2F2F2
$negro-claro = #404040
$rosa-claro = #ee6e73

$facebook = #3b5998
$google-plus = #dd4b39
$twitter = #55acee
$linkedin = #007bb5
$instagram = #125688

.white
	color white
.negro-claro
	color #404040